<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="inner cover">
        <h1 class="cover-heading">Magpie!</h1>
        <p class="lead"><%= image_tag "magpie_logo.png", class: "logo img-circle" %></p>
      </div>
    </div>
  </div>
</div>
