<div class=''>
  <%= atom_actions %>
  From Dropdown: <input class="form-control" type="text" name="options[selector]" value="<%= @selector %>">
  Pick: <input class="form-control" type="text" name="options[value]" value="<%= @value %>">
</div>
