<div class="page-title">
  <div class="title_left">
    <h3>Editing Job</h3>
  </div>

  <div class="title_right">
    <div class="col-xs-12 form-group top_search">
        <%= link_to 'Open url', @job.url, target: :_blank, class: "btn btn-default pull-right" if @job.url %>
        <%= link_to 'Back', jobs_path, class: "btn btn-default pull-right" %>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<div class="col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2><i class="fa fa-bars"></i> Status</h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <%= @job.status || t("New") %>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<%= render 'form', job: @job %>
