<div class=''>
  <%= atom_actions %>
  Fill input: <input class="form-control" type="text" name="options[selector]" value="<%= @selector %>">
  with value <input class="form-control" type="text" name="options[value]" value="<%= @value %>">
</div>
