<ul class="nav navbar-nav">
  <% if user_signed_in? %>
    <li class="nav-item">
      <%= link_to("#{icon("sign-out")} Sign out".html_safe, destroy_user_session_path, method: :delete, class: "nav-link") %>
    </li>
  <% else %>
    <li class="nav-item">
      <%= link_to("#{icon("sign-in")} Sign in".html_safe, new_user_session_path, class: "nav-link")  %>
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li class="nav-item">
      <%= link_to("#{icon("user-o")} Edit profile".html_safe, edit_user_registration_path, class: "nav-link") %>
    </li>
  <% else %>
    <li class="nav-item">
      <%= link_to("#{icon("user-circle-o")} Register".html_safe, new_user_registration_path, class: "nav-link")  %>
    </li>
  <% end %>
</ul>
