@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "gentelella";
@import "gentelella-custom";
@import "jquery-ui";
@import "growl";

.navbar-default{
  margin-bottom: 0;
}
.nav-item form{
  margin-top: 12px;
}
.sortable{
  min-height: 20px;
}
.mjs-nestedSortable-error{
  background-color: #fcc;
}

.available-rule{
  display: inline-block; 
  width: 48%;
  height: 30px;
  border: 1px solid #ccc;
}
.selected-rule{
  display: block; 
  clear: both;
  width: 100%;
  min-height: 50px;
  border: 1px solid #ccc;
}
