<i class="fa fa-arrows pull-left" aria-hidden="true"></i>
<a class='pull-right delete-node'><i class='fa fa-close'></i></a>
<a class='pull-right hide-node'><i class='fa <%= @enabled ? "fa-eye" : "fa-eye-slash" %>'></i></a>
<%= hidden_field nil, :toggle, {value: @enabled} %>
